<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>阅读专注度分析 </title>
    <!--js and css-->
    <div th:replace="common/cssAndJavascript :: staticResouces"></div>
</head>
<body>
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 792 723"
                 style="enable-background:new 0 0 792 723;" xml:space="preserve"> <g> <g> <path class="st0"
                                                                                                d="M213.9,584.4c-47.4-25.5-84.7-60.8-111.8-106.1C75,433.1,61.4,382,61.4,324.9c0-57,13.6-108.1,40.7-153.3 S166.5,91,213.9,65.5s100.7-38.2,159.9-38.2c49.9,0,95,8.8,135.3,26.3s74.1,42.8,101.5,75.7l-85.5,78.9 c-38.9-44.9-87.2-67.4-144.7-67.4c-35.6,0-67.4,7.8-95.4,23.4s-49.7,37.4-65.4,65.4c-15.6,28-23.4,59.8-23.4,95.4 s7.8,67.4,23.4,95.4s37.4,49.7,65.4,65.4c28,15.6,59.7,23.4,95.4,23.4c57.6,0,105.8-22.7,144.7-68.2l85.5,78.9 c-27.4,33.4-61.4,58.9-102,76.5c-40.6,17.5-85.8,26.3-135.7,26.3C314.3,622.7,261.3,809.9,213.9,584.4z"/> </g>
                <circle class="st1" cx="375.4" cy="322.9" r="100"/> </g>
                <g> <circle class="st2" cx="275.4" cy="910" r="65"></circle>
                    <circle class="st4" cx="475.4" cy="910" r="65"></circle> </g> </svg>
        </div>
    </div>
</div>
<!--  END LOADER -->

<!--  BEGIN NAVBAR  -->
<div class="header-container fixed-top">

    <div th:replace="common/htmlCommon:: header"></div>
</div>
<!--  END NAVBAR  -->

<!--头表栏-->
<!--  BEGIN NAVBAR  -->
<div class="sub-header-container">

    <header class="header navbar navbar-expand-sm">
        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </a>

        <ul class="navbar-nav flex-row">
            <li>
                <div class="page-header">

                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>可视化分析</span></li>
                        </ol>
                    </nav>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-auto ">
            <li class="nav-item more-dropdown">
                <div class="dropdown  custom-dropdown-icon">
                    <a class="dropdown-toggle btn" href="#" role="button" id="customDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><span>Settings</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="customDropdown">
                        <a class="dropdown-item" data-value="Settings" href="javascript:void(0);">Settings</a>
                        <a class="dropdown-item" data-value="Mail" href="javascript:void(0);">Mail</a>
                        <a class="dropdown-item" data-value="Print" href="javascript:void(0);">Print</a>
                        <a class="dropdown-item" data-value="Download" href="javascript:void(0);">Download</a>
                        <a class="dropdown-item" data-value="Share" href="javascript:void(0);">Share</a>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>
<!--  END NAVBAR  -->

<!-- 侧边栏-->
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <div th:replace="common/htmlCommon :: sideNavBar">

    </div>

    <!--  内容区域  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            <div class="row layout-top-spacing">
                <div class="col-12 layout-spacing">
                    <div class="widget widget-chart-one">
                        <div class="widget-heading">
                            <h2>文件信息</h2>
                            <ul class="tabs tab-pills">
                                <li><a href="/planList" id="tb_2" class="btn btn-primary">转到计划</a></li>
                            </ul>

                        </div>

                        <div class="widget-content">
                            <div class="tabs tab-content">
                                <div id = 'fileTitle'>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

<!--               eSense曲线-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-chart-one">
                        <div class="widget-heading">
                            <h5 class="">专注度曲线(NeuroSky eSense算法计算出)</h5>
                        </div>

                        <div class="widget-content">
                            <div class="tabs tab-content">
                                <div id="content_1" class="tabcontent">
                                    <div id="eSenseAttention" style="width: 1100px;height:220px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 折线图 -->
                <!-- 折线图 -->
                <div class="col-8 layout-spacing">
                    <div class="widget widget-chart-one">
                        <div class="widget-heading">
                            <h5 class="">上周专注时间(单位：小时)</h5>
                            <!--<ul class="tabs tab-pills">-->
                            <!--<li><a href="javascript:void(0);" id="tb_2" class="tabmenu">刷新</a></li>-->
                            <!--</ul>-->
                        </div>

                        <div class="widget-content">
                            <div class="tabs tab-content">
                                <div id="content_2" class="tab content">
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <div id="attentionBar" style="width:750px;height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  饼图  -->
                <!--  饼图  -->
                <div class="col-4 layout-spacing">
                    <div class="widget widget-chart-one">
                        <div class="widget-heading">
                            <h5 class="">上周回顾(单位：分钟)</h5>
                            <!--<ul class="tabs tab-pills">-->
                            <!--<li><a href="javascript:void(0);" id="tb_2" class="tabmenu">刷新</a></li>-->
                            <!--</ul>-->
                        </div>

                        <div class="widget-content">
                            <div class="tabs tab-content">
                                <div id="content_3" class="tabcontent">
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <!--日历图-->
                                    <div id="attentionPie" style="width:350px;height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © 2020 <a target="_blank" href="../../../designreset.html">EEG Attention</a>, All
                    rights <a>Reserved </a>.</p>
            </div>

        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->
<script src="../assets/js/echarts.js"></script>

<script th:inline="javascript">
    // alert([[${mass}]])
    // in this init var insert for state
</script>
<!--<script src="../assets/js/echarts.js"></script>-->

<!--<script src="../assets/js/config.js"></script>-->
<div th:replace="common/cssAndJavascript :: jsCode"></div>


<script type="text/javascript" th:inline="javascript">
    let eegFileInfo =[[${eegFileInfo}]]
    let attentionList = [[${attentionList}]]
    let attentionZeroToTwenty = [[${attentionZeroToTwenty}]]
    let attentionTwentyToForty = [[${attentionTwentyToForty}]]
    let attentionFortyToSixty = [[${attentionFortyToSixty}]]
    let attentionSixtyToEighty = [[${attentionSixtyToEighty}]]
    let attentionEightToFull = [[${attentionEightToFull}]]

    // alert(fileTitle)
    document.getElementById('eSenseAttention');

</script>
<script src="../js/drawGraphForFileAnalysis.js"></script>
<script type="text/javascript" th:inline="javascript">
    attenTiondata = attentionList //[820, 932, 901, 934, 1290, 1330, 1320]
    barData = [attentionZeroToTwenty, attentionTwentyToForty, attentionFortyToSixty,
        attentionSixtyToEighty, attentionEightToFull]
    let sumBarData = 0;
    for (let i = 0; i < barData.length; i++) {
        sumBarData += barData[i];
    }
    let p = [0.0,0.0,0.0,0.0,0.0]
    for (let i = 0; i < barData.length; i++) {
        p[i] = (barData[i] / sumBarData) * 100;
    }
    let attentionTime = p[0]+p[1];
    let unAttentionTime = 100 - attentionTime;
    pieData = {
        attentionTime: attentionTime,
        unAttentionTime:unAttentionTime
    }
    drawAttentionBar('attentionBar',p)
    eSenseAttention('eSenseAttention',attenTiondata)
    attentionPie('attentionPie',pieData);
</script>
</body>
</html>
